.form-group{
  background-color:#616767;

}
#exampleFormControlTextarea1{
  background-color:#616767;
}

#navbarSupportedContent{
  display: flex;
  background-color: aqua;
}

#flexSwitchCheckChecked{
  float: right;  
  width: 136px;
}

.unorders
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
ul li{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
.navbar{
    margin-left: 8px;
    margin-right: 8px;
}

.check{
  font-size: x-large;
  
}
.form-group:hover{
  border: 1px solid rgb(81, 38, 191);
  scale: 1.01;
}
body {
  background: linear-gradient(
    190deg,
    rgb(134, 123, 205) 0%,
    rgb(106, 90, 171) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #222;
  overflow: hidden;
}